<div class='container cabecera'>
    
    <div class="heroBanner">
        <img src="./../images/logotipo.png" alt="hero">
        <img src="./../images/isotipo.svg" alt="isotipo">
    </div>

    <h1 class="blueText">Elige tu equipo</h1>

</div>

<div class="row justify-content-center">

    <div class="col-12 ">
        <form class="d-flex searchBar">
      <input class="form-control cajagris blueText" type="search" placeholder="Busca tu equipo" aria-label="Search">
     
    </form>
            <div class="row justify-content-center cardTeam">
                <div class="col-md-3">
                  <a href="/principal">
                    <div class="card shadow p-3 mb-2 bg-body rounded" >
                        <img src="../images/barcelona.svg" class="card-img-top" alt="logo club Barcelona">
                        <div class="card-body">
                            <h5 class="card-title">FC Barcelona</h5>   
                        </div>
                    </div>  
                    </a> 
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/bidasoa.svg" class="card-img-top" alt="logo club Bidasoa">
                        <div class="card-body">
                            <h5 class="card-title">Bidasoa Irun</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/granollers.svg" class="card-img-top" alt="logo club Granollers">
                        <div class="card-body">
                            <h5 class="card-title">Fraikin BM Granollers</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/benidorm.svg" class="card-img-top" alt="logo club Benidorm">
                        <div class="card-body">
                            <h5 class="card-title">BM Benidorm</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/huesca.svg" class="card-img-top" alt="logo Club Huesca">
                        <div class="card-body">
                            <h5 class="card-title">Bada Huesca</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/cuenca.svg" class="card-img-top" alt="logo Club Cuenca">
                        <div class="card-body">
                            <h5 class="card-title">Incarlopsa Cuenca</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/logrono.svg" class="card-img-top" alt="logo Club Logroño">
                        <div class="card-body">
                            <h5 class="card-title">BM Logroño La Rioja</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/morrazo.svg" class="card-img-top" alt="logo Club Morrazo">
                        <div class="card-body">
                            <h5 class="card-title">Frigorificos Morrazo</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/ademar.svg" class="card-img-top" alt="logo Club Ademar">
                        <div class="card-body">
                            <h5 class="card-title">ABANCA Ademar León</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/anaitasuna.svg" class="card-img-top" alt="logo Club Anaitasuna">
                        <div class="card-body">
                            <h5 class="card-title">Helbetia Anaitasuna</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/antequera.svg" class="card-img-top" alt="logo Club Antequera">
                        <div class="card-body">
                            <h5 class="card-title">BM Iberquinoa Antequera</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/genil.svg" class="card-img-top" alt="logo Club Genil">
                        <div class="card-body">
                            <h5 class="card-title">Angel Ximenez Puente Genil</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/herol.svg" class="card-img-top" alt="logo Club Herol">
                        <div class="card-body">
                            <h5 class="card-title">Viveros Herol BM Nava</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/torrelavega.svg" class="card-img-top" alt="logo Club Torrelavega">
                        <div class="card-body">
                            <h5 class="card-title">Bathco BM Torrelavega</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/unicaja.svg" class="card-img-top" alt="logo Club Unicaja">
                        <div class="card-body">
                            <h5 class="card-title">Unicaja Banco Sinfín</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow p-3 mb-2 bg-body rounded">
                        <img src="../images/valladolid.svg" class="card-img-top" alt="logo Club Valladolid">
                        <div class="card-body">
                            <h5 class="card-title">Recoletas AT Valladolid</h5>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>