*{
  margin:0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  
}
.heroBanner{
  display: flex;
  justify-content: space-between;
  height: 150px;

}

.cajagris{
  background-color: rgb(225, 225, 225);
  display: block;
  width: 110%;
  color: white;
  padding: 10px;
  justify-content: center;
}

.cajagris::placeholder{
  color: #283270;
}
.blueText {
  color: #283270;
}

.cabecera img {
  width: 50%;
  object-fit:scale-down;
  
}

.cabecera h1{
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

#iphone {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%

}

#iphone img {
 width: 500px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.2);
}

.cardTeam img{
 width: 50px;
 margin-left: 20px;
}

.searchBar{
  margin-bottom: 20px;
}

body {
  width: 418px;
  background-color: white;
}

#inlineFrameExample {
  margin-left: 100%;
  margin-top: 100px;
}
/* HOME */

.cabecera {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cabecera img{
  height: 200px;
}

.icon {
  width: 100px;
}

.teamName {
  font-size: 50px;
  margin-top: 50px
}

.position {
  display: flex;
  font-size: 2em;
  
}

.position h1{
  font-size: 80px;
}

.trofeo {
  font-size: 40px;
  margin-top: 10px;
}

.cleanButton{
  background: none;
  border: none;
}

.vsdiv{
  display:flex;
  align-items: center;

}
.vs{
  margin-top: 10px;
  margin-left:10px
}

.columnaVisitante{
  display:flex;

}
.clubVisitante{
  margin-left: 10px;
}

body a {

  text-decoration: none;
  color: black;

}

.otherTeam {
  border: none;
  display: block;
  text-align: center;
  margin-top: 20px;
  width: 100%; 

}

#staticBackdrop{
  width: 414px;
}
.modal-body img{
  width: 375px;
  
}


.slider img{
  object-fit: cover;
}